node-red/flows_0eb7363c73f3.json
[{"id":"c05cb2e4.ff45d","type":"tab","label":"Flow 1"},{"id":"a11ee690.2d73f8","type":"http in","z":"c05cb2e4.ff45d","name":"","url":"/client/get_all","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["ad4ec73c.a96a18"]]},{"id":"f1be5e39.c0f64","type":"http response","z":"c05cb2e4.ff45d","name":"","statusCode":"","headers":{},"x":690,"y":40,"wires":[]},{"id":"ad4ec73c.a96a18","type":"function","z":"c05cb2e4.ff45d","name":"Get Model function","func":"var model = global.get(\"model\");\nmodel.get_clients(\n    function(error, rows) {\n        msg.payload = rows;\n        node.status({fill:\"green\",shape:\"dot\",text:\"ok\"});\n        node.send(msg);\n        return;\n    }\n);\nnode.status({fill:\"orange\",shape:\"dot\",text:\"loading\"});","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["9fc5e442.06e908"]]},{"id":"9fc5e442.06e908","type":"json","z":"c05cb2e4.ff45d","name":"","pretty":true,"x":550,"y":40,"wires":[["f1be5e39.c0f64"]]}]