node-red/flows_701cb2984b56.json
[{"id":"d5c17a23.be6098","type":"tab","label":"Flow 1"},{"id":"edcb7869.07a928","type":"http in","z":"d5c17a23.be6098","name":"","url":"/client/get_all","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["8b2ffd0e.15edb"]]},{"id":"fe7aba1d.6de578","type":"http response","z":"d5c17a23.be6098","name":"","statusCode":"","headers":{},"x":690,"y":40,"wires":[]},{"id":"8b2ffd0e.15edb","type":"function","z":"d5c17a23.be6098","name":"Get Model function","func":"var model = global.get(\"model\");\nmodel.get_clients(\n    function(error, rows) {\n        msg.payload = rows;\n        node.status({fill:\"green\",shape:\"dot\",text:\"ok\"});\n        node.send(msg);\n        return;\n    }\n);\nnode.status({fill:\"orange\",shape:\"dot\",text:\"loading\"});","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["45f49173.8ad16"]]},{"id":"45f49173.8ad16","type":"json","z":"d5c17a23.be6098","name":"","pretty":true,"x":550,"y":40,"wires":[["fe7aba1d.6de578"]]}]